.wraper-table {
  border: 30px solid rgba(58, 73, 101, 1);
  width: 1192px;
  height: 740px;
  margin: 20px auto;
  text-align: center;
  border-collapse: collapse;
}
.caption {
  text-align: left;
  font-size: 18px;
}
td,
th {
  border-left: 1px solid rgba(32, 29, 29, 0.2);
  border-top: 1px solid rgba(32, 29, 29, 0.2);
}

.th-chooise {
  width: 313px;
  height: 80px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.th-chooise-chooise {
  color: #484848;
  text-align: center;
  font-family: Arimo;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
}
.th-chooise-plans {
  color: #484848;
  text-align: center;
  font-family: Arimo;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.main-row {
  width: 280px;
  height: 73px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.standart {
  color: #fff;
  text-align: center;
  font-family: Arimo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: uppercase;
  background-color: rgba(137, 195, 49, 1);
}
.ultimate {
  color: #fff;
  text-align: center;
  font-family: Arimo;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(240, 74, 86, 1);
}
.premium {
  color: #fff;
  text-align: center;
  font-family: Arimo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgba(32, 128, 124, 1);
}
.wrap-price {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 280px;
  height: 89px;
}
.weap-main-price {
  display: flex;
  justify-content: center;
}
.main-price {
  color: #484848;
  font-family: Arimo;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.wrap-99-per_month {
  text-align: left;
}
.price_99 {
  color: #484848;
  font-family: Arimo;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.per_month {
  color: #484848;
  font-family: Arimo;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.storage,
.email,
.products {
  width: 313px;
  height: 73px;
  background-color: rgba(242, 242, 242, 1);
}

.bandwidth,
.support,
.users{
  width: 313px;
  height: 73px;
  background-color: rgba(227, 227, 227, 1);
}
.btn_back_color {
  background-color:  rgba(227, 227, 227, 1);
}

.storage td,
.bandwidth td,
.email td,
.support td,
.products td,
.users td,
.btns td {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.wrap-storage-img-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-storag,
.text-bandwidth,
.text-email,
.text-support,
.text-products,
.text-users,
.limited {
  color: #484848;
  font-family: Arimo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 5px;
  padding-left: 4px;
}

.btns td {
  height: 110px;
}
.btn {
  width: 195px;
  height: 54px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: Arimo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-contact {
  background-color: rgba(72, 72, 72, 1);
}

.btn-buy1 {
  background-color: rgba(137, 195, 49, 1);
}

.btn-buy2 {
  background-color: rgba(240, 74, 86, 1);
}

.btn-buy3 {
  background-color: rgba(32, 128, 124, 1);
}

.next_table {
  display: block;
  text-align: center;
  font-size: 18px;
}
