.wraper-table {
  border: 30px solid rgba(58, 73, 101, 1);
  width: 1197px;
  height: 660px;
  margin: 20px auto;
  text-align: center;
  border-collapse: collapse;
}
td,
th {
  border-left: 1px solid rgba(32, 29, 29, 0.2);
  border-top: 1px solid rgba(32, 29, 29, 0.2);
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

th {
  color: #484848;
  font-family: Arimo;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
td {
  color: #484848;
  font-family: Arimo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.wrap-main-row {
  border: 15px solid rgba(58, 73, 101, 1);
}
.wrap-main-row th {
  width: 160px;
  height: 115px;
}

.th-chooise-chooise {
  color: #484848;
  font-family: Arimo;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.text{
    margin-top: 5px;
}
.storage-img-text, .email-img-text, .products-img-text, .change {
    background-color: rgba(227, 227, 227, 1);
}

.wrap-price-standart {
  width: 198px;
  height: 164px;
  background-color: rgba(137, 195, 49, 1);
  color: #fff;
  font-family: Arimo;
}
.limited {
  width: 160px;
  height: 169px;
  
}
.limited p{
    margin-top: 10px;
}
.wrap-price-ultimate {
  width: 198px;
  height: 164px;
  background-color: rgba(240, 74, 86, 1);
  color: #fff;
  font-family: Arimo;
}

.wrap-price-premium {
  width: 198px;
  height: 164px;
  background-color: rgba(32, 128, 124, 1);
  color: #fff;
  font-family: Arimo;
}

.main-collum_standart {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.main-price {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.price_99 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.per_month {
  padding-top: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  margin-left: 5px;
  text-transform: uppercase;
}

.btn {
  width: 145px;
  height: 44px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-family: Arimo;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}

.btn-buy {
  background-color: rgba(72, 72, 72, 1);
}

.next_table {
    display: block;
    text-align: center;
    font-size: 18px;
  }
  